#body{
	/*background-color: #faf2e5;
	background-color: #b01111;*/
}
#topBody{
	/*background-color: #f0f0ef;*/
	background-color: black;
	min-height: 280px;
	max-height: auto;
	overflow: hidden;
	margin-bottom: 10px;
	color: white;
	padding-left: 50px;
}
#topBody h1{
	margin-top: 100px;
}
#lowerBody{
	background-color: #f0c310;
	/*background-color: #f0f0ef;*/
	min-height: 300px;
	max-height: auto;
	font-family: Optima, Helvetica, Verdana, Arial, sans-serif;
	font-size: 16px;
	color: white;
}
#initialHiddenImage{
	display: none;
	width: 230px;
	margin: 0 auto;
}
.imgClass{
	margin-top: 16px;
	margin-bottom: 5px;
}
blockquote a{
	color: #f0c310;
	color: black;
}
footer{
	padding-top: 6px;
}
p footer{
	height: 30px;
	background-color: #0291cd;
	color: white;
	padding-top: 5px;
}
#codeImg{
	opacity: 1;
	border-image-width: 5%;
}/*
.block{
	width: 200px;
	margin-top:	10px; 
}*/
p.textBelow{
	color: white;
	padding-left: 25px;
	font-size: 20px;	
}
p.textBelow:hover{
	cursor: hand;
}
.infostyle{
	background-color: white;
	color: gray;
	-webkit-border-radius: 15px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	margin-top: 30px;
	border: 5px solid #f0c310;
	padding: 10px;
	display: none;
	min-height: 200px;
	display: none;
}
#about p{
	color: gray;
}
/*#about{
	margin-bottom: 15px;
}*/
#contactInfo{
	height: 150px;
}.heading{
	font-family: 'Charlemagne Std', Optima, Helvetica, sans-serif;
}
#one:hover{
	cursor: hand;
}
.fa-mobile{
	font-size: 1.5em;
}
.bgProjects{
	background: url("images/largerBG.jpg") no-repeat;
	height: 30px;
	width: 1200px;	
	display: inline-block;
}
#bgBelow{
	display: none;
}
.glyphicon, a{
	color: green;
}
.row{
	max-height: 400px;
}
img{
	margin: 0 auto;
}
#lowerBody >.xs-col-11{
/*	min-height: 600px;
*/
}