@import url(https://fonts.googleapis.com/css?family=Fascinate+Inline);

@font-face{
	font-family: "limilations"; 
	src: url('fonts/ThickDeco.ttf');
}

@font-face{
	font family: "ShadowPuppets";
	src: url('fonts/ShadowPuppets.ttf');
}
/*---------------------------    Home Page       ----------------------------*/
#welcomeText{
	font-family: 'limilations', Optima, 'Helvetica Neue', sans-serif;
	padding-top: 6%;
	-webkit-color:#b01;
	color: #fff;
	height: 455px;
}
#body{
	background: url("images/bg.gif");
	background-color: #bb0011;
}
.container{
	background-color: white;
}
.large{
	font-size: 45px;
}
.homeRow{
	padding: 0;
 	background: linear-gradient(#FF6699, #66FF99);
 	-moz-background: linear-gradient(#b01, #F0F0FF);
 	-o-background: linear-gradient(#b01, #F0F0FF);
 	-ms-background: linear-gradient(#b01, #F0F0FF);
 	background: linear-gradient(#b01, #F0F0FF);

/*------  Safari fix  ------*/

 	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bb0011), color-stop(100%,#f0f0ff));  Chrome,Safari4+ 
	background: -webkit-linear-gradient(top, #bb0011 0%,#f0f0ff 100%); /* Chrome10+,Safari5.1+ */
}

.banner{
	background-color: #bb0011;
	min-height: 100px;
}
.buttons{
	margin-top: 10px;
}
.nav li a{
	color: #660000;
	color: #bb0011;
	font-size: 2em;
	font-family: 'Fascinate Inline', Optima, 'Helvetica Neue',Verdana, sans-serif;
	background-color: #fff;
}
.nav li a.active{
	background-color: #bb0011;
	color: white;
	border-top: 1px solid white;
}
.nav{
/*	border-bottom: 2px solid #bb0011; 
*/	border-top: 2px solid #bb0011;
}
#footer{
	background-color: #bb0011;
	color: white;
	padding: 1%;
}

/*  ---------Slider-------- */

#lowerBodySlider{
	height: 455px;
	overflow: hidden;
	padding: 0;
	margin: 0;
}
#lowerBodySlider .slides{
	display: block;
	width: 4385px;
	height: 455px;
	list-style-type: none;
	padding: 0px;
	overflow: hidden;
}
#lowerBodySlider .slide{
	float: left;
	width: 877px;
	height: 455px;
	padding: 0px;

}
/* ---------- sub-pages ------------ */
h5,h4{
	margin: 20px auto;
}
h3{
	font-family: "ShadowPuppets";
}
li.sub-nav{
	padding: 0;
	margin-bottom: 0; 
}
.sub-nav li a{
 	font-family: Optima, 'Helvetica Neue', Verdana, sans-serif;
 	font-size: 1.2em;
 	margin-top: 5px;
}
.activeTab{
	background: linear-gradient(#b01, #F0F0FF) 
}
.tab-content > .tab-pane{
    display: block;
    height: 0;  
    overflow-y: hidden;
}
.tab-content > .active{
    min-height: 325px;
    overflow: auto;
}
 .tab-content> #tabs-1{
	margin-top: 2%;
}
.tab-content{
	min-height: 370px;
	margin-top: 0;
	max-height: auto;
}
/* --------- BMI Page  -------------*/

#bmiImage{
	padding: 0;
}
#bmiContent{
	margin-top: 5px;
	min-height: 450px;
	max-height: auto;
	padding: 20px;
	background: linear-gradient(to left, #fbfbfb, #fafafa);	
}

/*----------- Sign Up -------------*/

#singUpForm{
	padding: 15px;
	min-height: 450px;
	max-height: auto;
}
input:hover{
	box-shadow: 0px 0px 5px 2px #991F00;
}
#signUpBtn:hover{
	background: linear-gradient(#bb0011, #991F00);
	color: white;
}
#errorBorder{
	color: red;
	margin-top: 0;
	padding: 0;
}




