#body{
	background: url("images/bg.gif");
	background-color: #bb0011;
}
.container{
	background-color: white;
	padding: 0;
}
#homeRow{
	padding: 0;
}
.row{
/*	margin: 0;
/**/	padding-right: 60px;
*/}
.banner{
	background-color: #bb0011;
	min-height: 100px;
	padding: 25px auto;
	margin-bottom: 0;
}
.buttons{
	margin-top: 10px;
}
.nav li a{
	color: #660000;
	font-size: 20px;
	font-family: Optima, 'Helvetica Neue',Verdana, sans-serif;
}
.nav li a.active{
	background-color: #bb0011;
	color: white;
	border-top: 1px solid white;
}
.nav{
	border-bottom: 2px solid #bb0011; 
	border-top: 2px solid #bb0011; 
}
#footer{
	background-color: #bb0011;
	color: white;
	padding: 1%;
}
#welcomeText{
	padding: 6%;
}

/*  ---------Slider-------- */

#lowerBodySlider{
	height: 455px;
	overflow: hidden;
	padding: 0;
	margin: 0;
}
#lowerBodySlider .slides{
	display: block;
	width: 4385px;
	height: 455px;
	list-style-type: none;
	padding: 0px;

}
#lowerBodySlider .slide{
	float: left;
	width: 877px;
	height: 455px;
	padding: 0px;

}
/* ---------- sub-pages ------------ */
h5,h4{
	margin: 20px auto;
}
p{
	padding: 8px auto;
	margin: 10px;
}
/* --------- BMI Page  -------------*/
#bmiImage{
	padding: 0;
}
#bmiContent{
	margin-top: 5px;
	min-height: 450px;
	max-height: auto;
	padding: 20px;
	background: linear-gradient(to left, #fbfbfb, #fafafa);	
}
/*----------- Sign Up -------------*/
#singUpForm{
	padding: 15px;
	min-height: 450px;
	max-height: auto;
}
input:hover{
	box-shadow: 0px 0px 5px 2px #991F00;
}
#signUpBtn:hover{
	background: linear-gradient(#bb0011, #991F00);
	color: white;
}
#errorBorder{
	color: red;
	margin-top: 0;
	padding: 0;
}




